@charset "UTF-8";
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: transparent;
}

ul,
ol,
button {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
input,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
select,
input,
textarea {
  font: inherit;
}

input,
textarea {
  display: block;
  outline: transparent;
}

input,
textarea,
button {
  border: none;
  background-color: transparent;
}

cite,
address {
  font-style: normal;
}

a,
button,
select {
  color: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

table {
  border-collapse: collapse;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #292D32;
  background-color: #fff;
  margin: 0;
}

/* в input отступ от крестика*/
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  margin: 0 10px;
}

svg {
  fill: none;
  stroke: currentColor;
}

.no-scroll {
  overflow: hidden;
}

.no-scroll::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 250%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/*клас для схову тексту. текст для скрінрідера*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: #000;
}
@media screen and (orientation: landscape) {
  .logo {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
.logo__img {
  margin-right: 8px;
}
@media (max-width: 1290px) {
  .logo__img {
    margin-right: 0;
  }
}
@media screen and (orientation: landscape) {
  .logo__img {
    width: 25px;
    height: 25px;
  }
}
.logo__version {
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #838383;
}
.logo:focus {
  color: #5932EA;
}
.logo:hover {
  text-shadow: 2px 2px 5px #5932EA;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}
@media (max-width: 1290px) {
  .dashboard {
    height: 100%;
  }
}
.dashboard__sidebar {
  max-width: 306px;
  width: 100%;
  padding: 36px 28px;
}
@media (max-width: 1290px) {
  .dashboard__sidebar {
    max-width: 250px;
    padding: 20px 15px;
  }
}
@media (max-width: 576px) {
  .dashboard__sidebar {
    max-width: 270px;
  }
}
@media screen and (orientation: landscape) {
  .dashboard__sidebar {
    padding: 15px;
  }
}
.dashboard__info {
  padding: 41px 71px;
  width: calc(100vw - 306px);
  background-color: #eee;
}
@media (max-width: 1290px) {
  .dashboard__info {
    padding: 20px 0 0 20px;
    width: calc(100vw - 250px);
  }
}
@media (max-width: 992px) {
  .dashboard__info {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .dashboard__info {
    padding: 15px;
  }
}
.dashboard__owner {
  margin-bottom: 40px;
}
@media screen and (orientation: landscape) {
  .dashboard__owner {
    margin-bottom: 0;
  }
}
.dashboard__welcome {
  font-size: 24px;
  line-height: 36px;
  color: #000;
  margin-bottom: 50px;
}
@media (max-width: 1290px) {
  .dashboard__welcome {
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .dashboard__welcome {
    text-align: center;
  }
}
.dashboard__content {
  max-width: 968px;
  width: 100%;
  background-color: #FFF;
  -webkit-box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
          box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
}
@media (max-width: 1290px) {
  .dashboard__content {
    max-width: 98%;
  }
}
@media (max-width: 768px) {
  .dashboard__content {
    max-width: 100%;
  }
}
.dashboard__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 50px 26px 40px;
}
@media (max-width: 768px) {
  .dashboard__head {
    padding: 15px 30px 20px 30px;
  }
}
@media (max-width: 576px) {
  .dashboard__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 15px;
  }
}
.dashboard__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #000;
  margin-bottom: 7px;
}
@media (max-width: 576px) {
  .dashboard__title {
    text-align: center;
  }
}
.dashboard__status {
  font-weight: 400;
  display: block;
}
.dashboard__status.online {
  color: #16C098;
}
.dashboard__status.ofline {
  display: none;
  color: #DF0404;
}
@media (max-width: 576px) {
  .dashboard__status {
    margin-bottom: 20px;
    text-align: center;
  }
}
.dashboard__search-form {
  margin-left: auto;
}
@media (max-width: 576px) {
  .dashboard__search-form {
    width: 100%;
    margin: 0;
  }
}
.dashboard__table {
  height: 500px;
  overflow-y: auto;
}
@media (max-width: 1290px) {
  .dashboard__table {
    height: 100%;
  }
}
@media (max-width: 768px) {
  .dashboard__table {
    width: 98%;
  }
}
.dashboard__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 37px 40px 40px;
}
@media (max-width: 768px) {
  .dashboard__bottom {
    padding: 30px 15px 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.dashboard__bottom-text {
  font-size: 14px;
  color: #B5B7C0;
}
@media (max-width: 768px) {
  .dashboard__pagination {
    margin-bottom: 20px;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -240px;
    background-color: #fff;
    z-index: 2;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    -webkit-box-shadow: 0 3px 15px rgba(34, 60, 80, 0.2);
            box-shadow: 0 3px 15px rgba(34, 60, 80, 0.2);
  }
}
@media (max-width: 576px) {
  .sidebar {
    left: -260px;
  }
}
.sidebar.active {
  left: 0;
}
.sidebar__menu {
  margin-bottom: auto;
}
.sidebar__menu::-webkit-scrollbar {
  width: 0;
}
@media screen and (orientation: landscape) {
  .sidebar__menu {
    overflow-y: auto;
  }
}
.sidebar__item {
  margin-bottom: 18px;
}
@media screen and (orientation: landscape) {
  .sidebar__item {
    margin-bottom: 0;
  }
}
.sidebar__link {
  color: #9197B3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  padding: 11px 8px 11px 11px;
}
.sidebar__link:focus {
  color: #5932EA;
}
.sidebar__link:hover {
  background-color: #5932EA;
  color: #fff;
}
.sidebar__link-chevron {
  margin-left: auto;
}
.sidebar__icon {
  margin-right: 14px;
}
.sidebar__icon--bag {
  fill: currentColor;
  stroke: none;
}

.owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.owner__img {
  margin-right: 12px;
  border-radius: 50%;
}
@media screen and (orientation: landscape) {
  .owner__img {
    width: 30px;
    height: 30px;
  }
}
.owner__info {
  letter-spacing: 0.01em;
  color: #000;
}
.owner__function {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

.search-form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7E7E7E;
  background-color: #F9FBFF;
  border-radius: 10px;
  width: 218px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .search-form__label {
    width: 100%;
  }
}
.search-form__label svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8px;
}
.search-form__label:hover {
  color: #5932EA;
}
.search-form__field {
  padding: 10px 0 10px 40px;
  font-weight: 400;
  font-size: 12px;
}
@media (max-width: 576px) {
  .search-form__field {
    width: 100%;
  }
}
.search-form__field:focus::-webkit-input-placeholder {
  border-bottom: 1px solid #5932EA;
}
.search-form__field:focus::-moz-placeholder {
  border-bottom: 1px solid #5932EA;
}
.search-form__field:focus:-ms-input-placeholder {
  border-bottom: 1px solid #5932EA;
}
.search-form__field:focus::-ms-input-placeholder {
  border-bottom: 1px solid #5932EA;
}
.search-form__field:focus::placeholder {
  border-bottom: 1px solid #5932EA;
}
.search-form__field:hover::-webkit-input-placeholder {
  color: #5932EA;
}
.search-form__field:hover::-moz-placeholder {
  color: #5932EA;
}
.search-form__field:hover:-ms-input-placeholder {
  color: #5932EA;
}
.search-form__field:hover::-ms-input-placeholder {
  color: #5932EA;
}
.search-form__field:hover::placeholder {
  color: #5932EA;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 11px;
}
.pagination__btn, .pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 24px;
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1;
  color: #404B52;
  padding: 6px 9px;
}
@media (max-width: 768px) {
  .pagination__btn, .pagination__link {
    width: 44px;
    height: 44px;
  }
}
@media screen and (orientation: landscape) {
  .pagination__btn, .pagination__link {
    width: 44px;
    height: 44px;
  }
}
.pagination__btn:focus, .pagination__link:focus {
  border-color: #5932EA;
  color: #5932EA;
}
.pagination__btn:hover, .pagination__link:hover {
  background-color: #5932EA;
  color: #fff;
}
.pagination__btn:active, .pagination__link:active {
  background-color: #FFF;
  color: #5932EA;
  -webkit-box-shadow: inset 0px -5px 12px rgba(89, 50, 234, 0.2);
          box-shadow: inset 0px -5px 12px rgba(89, 50, 234, 0.2);
}
.pagination__btn:not(:last-child) {
  margin-right: 12px;
}
.pagination__item:not(:last-child) {
  margin-right: 11px;
}
@media (max-width: 576px) {
  .pagination__item:nth-child(3), .pagination__item:nth-child(4) {
    display: none;
  }
}
@media (max-width: 390px) {
  .pagination__item:nth-child(2) {
    display: none;
  }
}
.pagination__arrow-left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.table {
  padding: 0 38px;
  scrollbar-color: rgba(89, 50, 234, 0.7) rgba(89, 50, 234, 0.1);
  scrollbar-width: thin;
}
@media (max-width: 1200px) {
  .table {
    padding: 0 12px;
  }
}
@media (max-width: 768px) {
  .table {
    padding: 0 20px;
  }
}
.table::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: rgba(89, 50, 234, 0.1);
}
.table::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}
.table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(89, 50, 234, 0.1)), to(rgba(89, 50, 234, 0.7)));
  background: linear-gradient(180deg, rgba(89, 50, 234, 0.1), rgba(89, 50, 234, 0.7));
}
.table table {
  width: 100%;
  background-color: #fff;
}
@media (max-width: 768px) {
  .table table {
    width: 980px;
  }
}
.table thead {
  position: relative;
}
.table thead::after {
  content: "";
  position: absolute;
  width: 105%;
  height: 1px;
  bottom: 0;
  left: -38px;
  background-color: #eee;
}
.table th {
  padding: 14px 0;
  color: #B5B7C0;
  text-align: left;
}
.table th:first-child {
  width: 172px;
}
@media (max-width: 1200px) {
  .table th:first-child {
    width: 155px;
  }
}
.table th:nth-child(2) {
  width: 131px;
}
@media (max-width: 1200px) {
  .table th:nth-child(2) {
    width: 100px;
  }
}
.table th:nth-child(3) {
  width: 157px;
}
.table th:nth-child(4) {
  width: 207px;
}
@media (max-width: 1200px) {
  .table th:nth-child(4) {
    width: 180px;
  }
}
.table th:nth-child(5) {
  width: 139px;
}
@media (max-width: 1200px) {
  .table th:nth-child(5) {
    width: 115px;
  }
}
.table th:nth-child(6) {
  width: 83px;
  text-align: center;
}
.table tbody tr {
  border-bottom: 1px solid #EEE;
}
.table td {
  padding: 20px 0 19px 0;
}
.table td:last-child {
  text-align: center;
}
@media (max-width: 768px) {
  .table td {
    padding: 15px 0;
  }
}
.table__status {
  border-radius: 4px;
  padding: 3px 0;
  display: inline-block;
  width: 80px;
  text-align: center;
}
.table__status.active {
  color: #008767;
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
}
.table__status.inactive {
  color: #DF0404;
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
}

.menu-btn {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 0 6px 6px 0;
  position: absolute;
  top: 8px;
  right: -43px;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 4px 3px 5px rgba(34, 60, 80, 0.2);
          box-shadow: 4px 3px 5px rgba(34, 60, 80, 0.2);
}
@media (max-width: 992px) {
  .menu-btn {
    display: block;
  }
}
.menu-btn:hover {
  -webkit-box-shadow: 2px 2px 2px rgba(89, 50, 234, 0.3);
          box-shadow: 2px 2px 2px rgba(89, 50, 234, 0.3);
}
.menu-btn:focus .menu-btn__btn-line,
.menu-btn:focus .menu-btn__btn-line::before,
.menu-btn:focus .menu-btn__btn-line::after {
  background-color: #5932EA;
}
.menu-btn__btn-line {
  display: block;
  width: 30px;
  height: 2px;
  margin: auto;
  background-color: #000;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.menu-btn__btn-line.active.menu-btn__btn-line::after {
  background-color: transparent;
}
.menu-btn__btn-line.active.menu-btn__btn-line {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-btn__btn-line.active.menu-btn__btn-line::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 0;
  top: 1px;
}
.menu-btn__btn-line::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 10px;
  width: 30px;
  height: 2px;
  background-color: currentColor;
}
.menu-btn__btn-line::after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 10px;
  width: 30px;
  height: 2px;
  background-color: currentColor;
}