html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    outline: transparent;
}

ul,
ol,
button {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
input,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button,
select,
input,
textarea {
    font: inherit;
}

input,
textarea {
    display: block;
    outline: transparent;
}

input,
textarea,
button {
    border: none;
    background-color: transparent;
}

cite,
address {
    font-style: normal;
}

a,
button,
select {
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    transition: all .3s;
}

table {
    border-collapse: collapse;
}