.logo {
    display: flex;
    align-items: center;
    margin-bottom: 51px;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.01em;
    color: #000;

    @media screen and (orientation: landscape) {
        margin-bottom: 10px;
        font-size: 18px;
    }

    &__img {
        margin-right: 8px;

        @media (max-width: 1290px) {
            margin-right: 0;
        }

        @media screen and (orientation: landscape) {
            width: 25px;
            height: 25px;
        }
    }

    &__version {
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.01em;
        color: #838383;
    }

    &:focus {
        color: #5932EA;
    }

    &:hover {
        text-shadow: 2px 2px 5px #5932EA;
    }

}