.search-form {
    &__label {
        position: relative;
        display: flex;
        align-items: center;
        color: #7E7E7E;
        background-color: #F9FBFF;
        border-radius: 10px;
        width: 218px;
        cursor: pointer;

        @media (max-width: 576px) {
            width: 100%;
        }

        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8px;
        }

        &:hover {
            color: #5932EA;
        }
    }

    &__field {
        padding: 10px 0 10px 40px;
        font-weight: 400;
        font-size: 12px;

        @media (max-width: 576px) {
            width: 100%;
        }

        &:focus::placeholder {
            border-bottom: 1px solid #5932EA;
        }

        &:hover::placeholder {
            color: #5932EA;
        }
    }
}